@import "@/styles/reset.scss";
@import "@/styles/variables.scss";

//Fonts
// font-family: "Inter", sans-serif;
// font-family: "Archivo Black", sans-serif;

.body {
    padding: 0;
    margin: 0;
    --font-archivo-black: "Archivo Black", sans-serif;
    --font-inter: "Inter", sans-serif;
}
